@use "../temporals/colors" as color;

header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1.5rem 0;
    background-color: #ab3428;
    color: #fff;

    .logo {
        a {
            text-decoration: none;
        }
    }
    h1 {
        font-family: "Permanent Marker", cursive;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler.navbar-toggler {
        border-color: rgb(255, 255, 255);
    }
    ul {
        li {
            font-size: 16px;
            padding: 0 10px;
        }
        li:last-child {
            padding: 0;
            margin-right: 0;
        }
    }
}
