$white: #FFFFFF;
$light-white: #F9F9F9;
$black: #373740;
$grey: #00000029;
$light-grey: #EAEAEA;
$lightweight-blue: #009C9E;
$dark-blue: #002E4A;
$indaco: #1AB6B8;
$green: #27B692;
$yellow: #FFB40B;
$red: #ED0A3F;